*~
foo~
*.class
*.log
*.iml
.project
.classpath
.checkstyle
/.clover/
/.settings/
/bin/
/build/
/data/
/dist/
/generated/
/lib/
/target/
/temp/
/tests/classes/
/tests/output/
/test-output/
/MANIFEST.MF
/.DS_Store
build.number
javadoc-data.json
*.pyc

/sesame-*/
!/sesame-engine/
!/sesame-function/

# IntelliJ config files
*.iws
*.iml
*.ids
.idea/.name
.idea/libraries
.idea/workspace.xml
.idea/compiler.xml
.idea/modules.xml
.idea/encodings.xml
.idea/dictionaries
.idea/inspectionProfiles
.idea/validation.xml
.idea/dataSources.xml
.idea/scopes/scope_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/uiDesigner.xml
atlassian-ide-plugin.xml
