*~
foo~
*.class
*.log
*.iml
*.pyc
.project
.classpath
.checkstyle
.pmd
.clover/
.settings/
bin/
target/
temp/
tests/classes/
tests/output/
test-output/

# IntelliJ config files
*.iws
*.iml
*.ids
.idea/.name
.idea/libraries
.idea/workspace.xml
.idea/misc.xml
.idea/compiler.xml
.idea/modules.xml
.idea/encodings.xml
.idea/dictionaries
.idea/inspectionProfiles
.idea/validation.xml
.idea/dataSources.xml
.idea/scopes/scope_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/uiDesigner.xml
atlassian-ide-plugin.xml
