<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
      </layout>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="com.opengamma.sesame.web.functionconfig.Main" level="info"/>
  <logger name="com.opengamma.sesame.web.functionconfig.ColumnConfigResource" level="info"/>

</configuration>
