*~
foo~
*.class
*.log
*.iml
.project
.classpath
.checkstyle
/.clover/
/.settings/
/bin/
/build/
/data/
/dist/
/generated/
/lib/
/target/
/temp/
/tests/classes/
/tests/output/
/test-output/
/MANIFEST.MF
/.DS_Store
build.number
/activemq-data/
