<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=strata-math/src\/main\/java"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="strata-math"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST"/>
<booleanAttribute key="org.testng.eclipse.DEBUG" value="false"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
<stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST">
<listEntry value="com.opengamma.strata.math"/>
<listEntry value="com.opengamma.strata.math.impl"/>
<listEntry value="com.opengamma.strata.math.impl.cube"/>
<listEntry value="com.opengamma.strata.math.impl.curve"/>
<listEntry value="com.opengamma.strata.math.impl.differentiation"/>
<listEntry value="com.opengamma.strata.math.impl.function"/>
<listEntry value="com.opengamma.strata.math.impl.function.special"/>
<listEntry value="com.opengamma.strata.math.impl.integration"/>
<listEntry value="com.opengamma.strata.math.impl.interpolation"/>
<listEntry value="com.opengamma.strata.math.impl.linearalgebra"/>
<listEntry value="com.opengamma.strata.math.impl.matrix"/>
<listEntry value="com.opengamma.strata.math.impl.minimization"/>
<listEntry value="com.opengamma.strata.math.impl.random"/>
<listEntry value="com.opengamma.strata.math.impl.regression"/>
<listEntry value="com.opengamma.strata.math.impl.rootfinding"/>
<listEntry value="com.opengamma.strata.math.impl.rootfinding.newton"/>
<listEntry value="com.opengamma.strata.math.impl.statistics.descriptive"/>
<listEntry value="com.opengamma.strata.math.impl.statistics.distribution"/>
<listEntry value="com.opengamma.strata.math.impl.statistics.leastsquare"/>
<listEntry value="com.opengamma.strata.math.impl.surface"/>
<listEntry value="com.opengamma.strata.math.impl.util"/>
</listAttribute>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<stringAttribute key="org.testng.eclipse.PROTOCOL" value="object"/>
<intAttribute key="org.testng.eclipse.TYPE" value="5"/>
<booleanAttribute key="org.testng.eclipse.VERBOSE" value="false"/>
</launchConfiguration>
